<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="atomgrap-blog" version="3.0">
    <display-name>AtomGraph Blog</display-name>
    <description>LDT blog application</description>
    <servlet>
        <servlet-name>server</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.atomgraph.node.Application</param-value>
        </init-param>
        <init-param>
	    <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.atomgraph.server.filter.response.HypermediaFilter,com.atomgraph.node.filter.response.URIRewriteFilter,com.atomgraph.client.filter.response.HypermediaFilter</param-value>
	</init-param>
        <!--
        <init-param>
            <param-name>http://www.w3.org/ns/sparql-service-description#endpoint</param-name>
            <param-value>http://graphity.dydra.com/graphity/processor/sparql</param-value>
        </init-param>
        <init-param>
            <param-name>http://atomgraph.com/ns/core#graphStore</param-name>
            <param-value>http://graphity.dydra.com/graphity/processor/service</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthUser</param-name>
            <param-value>username</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthPwd</param-name>
            <param-value>password</param-value>
        </init-param>
        
        <init-param>
            <param-name>http://atomgraph.com/ns/core#preemptiveAuth</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://atomgraph.com/ns/processor#dataset</param-name>
            <param-value>/com/atomgraph/blog/dataset.trig</param-value>
        </init-param>
        <init-param>
            <param-name>http://www.w3.org/ns/ldt#ontology</param-name>
            <!-- <param-value>http://www.w3.org/ns/ldt/core#</param-value> -->
            <param-value>http://atomgraph.com/ns/blog#</param-value>
        </init-param>
        <init-param>
            <param-name>http://atomgraph.com/ns/processor#sitemapRules</param-name>
            <param-value><![CDATA[
[inh:   (?class rdf:type <http://www.w3.org/2000/01/rdf-schema#Class>), (?class ?p ?o), (?p rdf:type <http://www.w3.org/ns/ldt#InheritedProperty>), (?p rdfs:isDefinedBy <http://www.w3.org/ns/ldt#>), (?subClass rdfs:subClassOf ?class), (?subClass rdf:type <http://www.w3.org/2000/01/rdf-schema#Class>), noValue(?subClass ?p) -> (?subClass ?p ?o) ]
[rdfs9: (?x rdfs:subClassOf ?y), (?a rdf:type ?x) -> (?a rdf:type ?y)]
]]></param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>http://atomgraph.com/ns/processor#cacheSitemap</param-name>
            <param-value>false</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://atomgraph.com/ns/client#stylesheet</param-name>
            <param-value>static/com/atomgraph/blog/xsl/layout-xhtml.xsl</param-value>
        </init-param>        
        <init-param>
            <param-name>http://atomgraph.com/ns/core#resultLimit</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>server</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>