<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="graphity-blog" version="3.0">
    <display-name>Blog app</display-name>
    <description>Sample web application built on Graphity Client</description>
    <context-param>
        <param-name>http://graphity.org/gp#restrictionsQuery</param-name>
        <param-value><![CDATA[
PREFIX gp:	<http://graphity.org/gp#>
PREFIX rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX owl:	<http://www.w3.org/2002/07/owl#>
PREFIX rdfs:	<http://www.w3.org/2000/01/rdf-schema#>
PREFIX sioc:	<http://rdfs.org/sioc/ns#>

SELECT *
{
    ?Template a owl:Class ; # not necessarily a gp:Template
        rdfs:subClassOf ?Restriction .
    ?Restriction a owl:Restriction ;
        owl:onProperty ?onProperty .
    {
        ?Restriction owl:allValuesFrom ?allValuesFrom
    }
    UNION
    {
        ?Restriction owl:allValuesFrom [ a owl:Class ;
            owl:unionOf [
                rdf:rest*/rdf:first ?allValuesFrom
            ]
        ]
    }
}
]]></param-value>
    </context-param>    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.graphity.blog.Application</param-value>
        </init-param>
        <init-param>
	    <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
	    <param-value>org.graphity.client.filter.request.PostReplaceFilter</param-value>
	</init-param>
        <init-param>
	    <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>org.graphity.processor.filter.response.HypermediaFilter</param-value>
	</init-param>        
        <init-param>
            <param-name>http://graphity.org/gp#dataset</param-name>
            <param-value>/org/graphity/blog/dataset.trig</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gp#ontology</param-name>
            <param-value>http://graphity.org/blog#</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gp#sitemapRules</param-name>
            <param-value><![CDATA[
[inheritance: (?template rdf:type <http://graphity.org/gp#Template>), (?template ?p ?o), (?p rdf:type owl:AnnotationProperty), (?p rdfs:isDefinedBy <http://graphity.org/gp#>), (?subClass rdfs:subClassOf ?template), noValue(?subClass ?p) -> (?subClass ?p ?o) ]
]]></param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gc#stylesheet</param-name>
            <param-value>/static/org/graphity/blog/xsl/layout-xhtml.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#resultLimit</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>